<HTML><HEAD><TITLE>Sales manager report generation</TITLE></HEAD>
<BODY>
<b>Select fields to be included in the report:</b>
<form action="/repgenmanager"><br>
Report timeframe (format YYYY-MM-DD):<br><br>
From:<input type="text" name="from">To:
<input type="text" name="to"><br>
<input type="checkbox" name="totalcash" value="0" checked disabled="true" > Total cash earned by all my agents<br>
<input type="checkbox" name="totalcash" value="0" checked disabled="true"> Number of sales made by all my agents<br>
<br>
<b>Detalied agent specific options: <br></b>
(if chosen, information about agents will be displayed with the following options)<br>
<input type="checkbox" name="kinds" value="1" > kinds of goods sold<br>
<input type="checkbox" name="price" value="5" > price <br>
<input type="checkbox" name="amount" value="2" > amount <br>
<input type="checkbox" name="warehouse" value="3" > warehouse information <br>
<input type="checkbox" name="datetime" value="4" > day and time of delivery<br>
<input type="hidden" name="user" value="{{user}}"/>
<input type="submit" value="generate" />
</form>
<a href ="/">Back</a>
</BODY>
</HTML>
