{% extends "base.html" %}

{% block title %}Responsibilities and duties{% endblock %}

{% block content %}
<h3>Your responsibilities and duties</h3>
<h2>Agents to supervise:</h2>
<ul>
{% for x in people %}  
<li>{{ x.user }}, {{x.region}}, {{x.salary}}zl</li>
{% endfor %} 
</ul>
<h2>Shops and foodcourts that you supplied:</h2>

<ul>
{% for x in shops %}  
<li>{{ x.shop.name }}, {{x.shop.region}}, {{x.shop.address}}, NIP:{{x.shop.nip}} </li>
{% endfor %} 
</ul>

<a href ="/">Back</a>
{% endblock %}
